
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal"  style="display: none" )
		+b.modal-win
			+form-wrap 
				+e.title Забронировать
				+e.text 
					span.text-secondary Участок:
					| 44
	
				+e.text 
					span.text-secondary Тип дома: 
					| Barn 215

				br
				br
				+input("Номер телефона",'tel')(required)  
				+policy()
				+e.INPUT.btn.btn(type="submit"  value="Отправить")  
	// #modal-call
	
	// end modals