mixin sIndexInfo(data)
	// start sIndexInfo
	+b.SECTION.sIndexInfo.section#sIndexInfo&attributes(attributes)
		.container
			+e.wrap
				+e.block
					+e.title ПРЕИМУЩЕСТВА
					+e.picture
						+e.pic-wrap
							+img(`index-info.jpg`)
				+e.block
					h2.wow.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0s") Коротко <br>о главном
					.row
						mixin item(text,pic,delay)
							.col-sm-6
								+e.item
									+e.pic.wow.animate__zoomIn(data-wow-duration="0.8s" data-wow-delay=`${delay}s`)
										+icon(`index-info-${pic}`)
									+e.item-text.wow.animate__fadeIn(data-wow-duration="1.2s" data-wow-delay=`${delay}s`)!=text
						+item(`Уникальное расположение поселка<br>в&nbsp;сердце реликтового леса`,`1`,`0.5`)
						+item(`Всего 20&nbsp;минут в&nbsp;пути от&nbsp;города до&nbsp;дома по&nbsp;скоростному шоссе`,`2`,`1`)
						+item(`Все участки имеют выход в&nbsp;лес или<br />в&nbsp;парк, вы&nbsp;будете жить в&nbsp;окружении природы`,`3`,`1.5`)
						+item(`Закрытая территория, круглосуточная охрана, служба бытового сервиса<br />и&nbsp;эксплуатации`,`4`,`2`)
						+item(`Многообразие объектов инфраструктуры в&nbsp;пешей доступности: рестораны, спа, велнес`,`5`,`2.5`)
						+item(`Максимум комфорта благодаря высокому качеству строительных материалов и&nbsp;инженерных сетей`,`6`,`3`)
	// end sIndexInfo