mixin sPlan(data)
	// start sPlan
	+b.sPlan#sPlan&attributes(attributes)
		+e.block
			style.
				

			+e.wrap#genplan_block
				iframe(src="https://www.nordicpark.ru/api/coords/", style="margin: auto;display: block;" id="genplan_map" width="1920" height="1080"   frameborder="0") 
	// end sPlan