// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}
}

// end.headerBlock

.headerBlockIndex {
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(236)};
		--sPB: #{rem(120)};
	}
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(216)};
		--sPB: #{rem(80)};
	}
	--sPT: #{rem(105)};
	--sPB: #{rem(40)};
	background-color: #919192;
	display: flex;
	flex-direction: column;
	color: $white;
	.container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(xl) {
			max-width: 100%;
			padding-left: calc(var(--logo-size) + var(--logo-margin) + var(--topnav-padding));
			padding-right: calc(var(--logo-size) + var(--logo-margin) + var(--topnav-padding));
		}
	}
	video {
		object-fit: cover;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	picture {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6));
			z-index: 1;
		}
	}
	&__wrap {
		@include media-breakpoint-up(lg) {
			// display: flex;
			// flex-direction: row;
			flex-grow: 1;
			// height: 600px;
			// align-items: flex-start;
		}
		// flex-direction: column;
	}
	h1 {
		max-width: rem(632);
		// @include media-breakpoint-up(xxl) {
		// 	font-size: calc(50px + 2.8vw);
		// }
		@include media-breakpoint-up(xxl) {
			font-size: calc(rem(12) + 2.8vw + 0.8vh);
		}
		@include media-breakpoint-up(xl) {
			font-size: calc(rem(12) + 2.3vw + 0.8vh);
			margin-right: 32px;
			margin-bottom: 0;
		}
		margin-bottom: 30px;
		@include media-breakpoint-up(sm) {
			font-size: 66px;
		}
		font-size: 44px;
		line-height: 100%;
		padding-bottom: 50px;
	}
	&__caption {
		line-height: 150%;
		font-weight: 500;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(44);
		}
		max-width: 100%;
		margin-bottom: rem(64);
		// @include media-breakpoint-up(xxl) {
		// 	font-size: calc(15px + 0.3vw);
		// }
		@include media-breakpoint-up(sm) {
			font-size: $large;
		}
		font-size: 14px;
		--animate-delay: 0.5s;
		animation-delay: var(--animate-delay);
	}
	&__numbers-wrap {
		display: flex;
	}
	&__info-block {
		@include media-breakpoint-up(lg) {
			// align-self: end;
			// max-width: 50%;
			max-width: rem(684);
		}
		max-width: 100%;
	}
	&__number {
		width: 50%;
		max-width: 50%;
		padding-right: rem(10);
		--animate-delay: 1s;
		--animate-duration: 0.5s;
		&:last-child {
			--animate-delay: 1.5s;
		}
		animation-delay: var(--animate-delay);
	}
	&__number-title {
		font-weight: 500;
		line-height: 100%;
		@include media-breakpoint-up(sm) {
			font-size: rem(96);
		}
		font-size: rem(80);
		margin-bottom: rem(4);
	}
	&__number-caption {
		@include media-breakpoint-up(sm) {
			font-size: $large;
		}
		font-size: rem(14);
		line-height: 140%;
		font-weight: 500;
	}
	.swiper-slide:not(.swiper-slide-active) {
		opacity: 0 !important;
		// transform: translateY(10px) !important;
	}
	.swiper-slide {
		transition-duration: 0.5s !important;
		transition-property: opacity;
	}
	.swiper-slide-active {
		// transform: translateY(0) !important;
	}
}

.headerBlockProject {
	background-color: #919192;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(206)};
		--sPB: #{rem(105)};
	}
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(186)};
		--sPB: #{rem(80)};
	}
	--sPT: #{rem(217)};
	--sPB: #{rem(48)};
	&__pic {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6));
			z-index: 1;
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
	&__info-wrap {
		display: flex;
		@include media-breakpoint-up(lg) {
			margin-top: auto;
			flex-direction: row;
			align-items: center;
		}
		@include media-breakpoint-down(lg) {
			flex-grow: 1;
		}
		flex-direction: column;
		justify-content: space-between;
	}
	h1 {
		@include media-breakpoint-up(lg) {
			max-width: 40%;
		}
		@include media-breakpoint-up(xxl) {
			font-size: calc(rem(12) + 2.8vw + 0.8vh);
		}
		@include media-breakpoint-up(xl) {
			font-size: calc(rem(12) + 2.3vw + 0.8vh);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(sm) {
			font-size: 66px;
		}
		font-size: 44px;
		margin-bottom: 30px;
		color: $white;
	}
	.container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(xl) {
			max-width: 100%;
			padding-left: calc(var(--logo-size) + var(--logo-margin) + var(--topnav-padding));
			padding-right: calc(var(--logo-size) + var(--logo-margin) + var(--topnav-padding));
		}
	}
	&__btn-wrap {
		display: flex;
		@include media-breakpoint-down(lg) {
			justify-content: space-between;
		}
		@include media-breakpoint-up(lg) {
			max-width: 60%;
		}
		@include media-breakpoint-up(sm) {
			flex-direction: row;
			align-items: center;
		}
		flex-direction: column;
		@include media-breakpoint-down(sm) {
			justify-content: unset;
		}
		// &.fixed{
		// 	position: fixed;
		// 	width: 100%;
		// 	top: 100%;
		// 	left: 50%;
		// }
	}
	&__show,
	&__rent {
		@include media-breakpoint-up(lg) {
			width: rem(326);
			padding-top: rem(8);
			padding-bottom: rem(8);
			&:hover {
				.headerBlockProject__btn-text {
					animation-name: roundedText;
					// animation-iteration-count: infinite;
					animation-duration: 1.2s;
				}
			}
		}
		padding-top: 30px;
		padding-bottom: 30px;
		text-transform: uppercase;
		font-weight: 700;
		width: calc(50% - 16px);
		text-align: center;
		border-radius: 50px;
		transition-duration: 0.4s;
		@include media-breakpoint-up(xxl) {
			font-size: calc(13px + 0.16vw);
			padding-left: 16px;
			padding-right: 16px;
		}
		@include media-breakpoint-up(md) {
			font-size: 13px;
		}
		@include media-breakpoint-up(sm) {
			padding-left: 8px;
			padding-right: 8px;
			width: calc(50% - 16px);
		}
		font-size: 14px;
		padding-left: 5px;
		padding-right: 5px;
		width: 100%;
	}
	&__btn-text-wrap {
		@include media-breakpoint-up(lg) {
			padding-top: rem(12);
			padding-bottom: rem(12);
			overflow: hidden;
		}
	}
	&__show {
		@include media-breakpoint-up(xxl) {
			margin-right: rem(20);
		}
		@include media-breakpoint-up(lg) {
			margin-right: 12px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 16px;
		}
		color: $body-color !important;
		background-color: $white;
		&:hover {
			color: $white !important;
			background-color: $primary;
		}
	}
	&__rent {
		color: $white !important;
		background-color: $primary;
		&:hover {
			color: $body-color !important;
			background-color: $white;
		}
	}
}
