mixin headerBlockIndex()
	// start headerBlock
	+b.headerBlockIndex.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		+pic(`index-bg.jpg`,``,0).picture-bg
		video.picture-bg(loading='lazy' preload='auto' no-controls  autoplay  loop  playsinline  muted  )
			source(src="video/video.webp" type='video/webp')
			source(src="video/video.mp4" type='video/mp4')
		.container
			+e.wrap
				h1.animate__animated.animate__fadeInUp Коттеджный поселок в реликтовом лесу
				+e.info-block
					+e.caption.animate__animated.animate__fadeIn.animate__slow Коттеджный поселок Nordic Park создан для людей, которые стремятся жить за городом, но при этом хотят сохранить тот уровень комфорта, к которому привыкли в мегаполисе.
					+e.numbers-wrap
						+e.number.animate__animated.animate__fadeInUp.animate__slow
							+e.number-title 20
							+e.number-caption км от МКАД<br>по Дмитровскому шоссе
						+e.number.animate__animated.animate__fadeInUp.animate__slow
							+e.number-title 85
							+e.number-caption домов на участках<br>от 8 до 14 соток
	// end headerBlock

mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 headerBlock ds dfsdfdsfsd

			.row
						
	// end headerBlock