// start .sProject
.sProject {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	background-color: #f2f2f2;
	--sPT: #{rem(100)};
	--sPB: #{rem(100)};
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
		background-color: $white;
		--sPT: #{rem(200)};
		--sPB: #{rem(400)};
	}
	&__title-wrap {
		display: flex;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: rem(180);
		}
		@include media-breakpoint-up(sm) {
			margin-bottom: 100px;
		}
		margin-bottom: 50px;
		flex-direction: column;
	}
	&__title {
		@include media-breakpoint-up(lg) {
			font-size: rem(16);
			color: #0a0a0a;
			margin-bottom: 0;
		}
		font-weight: 600;
		margin-bottom: 32px;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.08em;
		color: rgba(10, 10, 10, 0.6);
	}
	&__info-wrap {
		display: flex;
		@include media-breakpoint-down(lg) {
			justify-content: space-between;
		}
	}
	&__info-item {
		@include media-breakpoint-up(xxl) {
			margin-right: rem(187);
		}
		@include media-breakpoint-up(lg) {
			margin-right: 70px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__info-title {
		letter-spacing: 0.08em;
		text-transform: uppercase;
		@include media-breakpoint-up(sm) {
			font-size: rem(14);
			margin-bottom: rem(20);
		}
		font-size: calc(7px + 0.9vw);
		margin-bottom: 14px;
		font-weight: 700;
	}
	&__info-text {
		font-weight: 500;
		@include media-breakpoint-up(sm) {
			font-size: rem(80);
		}
		line-height: 100%;
		font-size: 40px;
	}
	&__stage-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include media-breakpoint-up(lg) {
			// margin-bottom: rem(400);
		}
		// margin-bottom: 36px;
	}
	&__stage {
		@include media-breakpoint-up(lg) {
			width: calc(50% - 16px);
			margin-bottom: 16px;
		}
		width: 100%;
		margin-bottom: 64px;
	}
	&__stage-title {
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
		font-weight: 600;
		@include media-breakpoint-up(sm) {
			font-size: rem(32);
			margin-bottom: rem(48);
		}
		font-size: 20px;
		text-align: center;
		margin-bottom: 32px;
	}
	&__stage-pic {
		cursor: pointer;
		img {
			max-width: 100%;
			width: 100%;
		}
	}
	&__structure-block {
		@include media-breakpoint-up(lg) {
			background-color: #f2f2f2;
			margin-bottom: rem(200);
		}
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(100);
		}
		margin-bottom: rem(50);
		position: relative;
	}
	h2 {
		@include media-breakpoint-up(lg) {
			font-size: rem(72);
			margin-bottom: rem(110);
		}
		@include media-breakpoint-down(sm) {
			font-size: 36px;
		}
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
	&__caption-item {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(426px);
			flex-direction: row-reverse;
			align-items: flex-start;
			& > * {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		@include media-breakpoint-up(sm) {
			margin-bottom: 100px;
		}
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(even) {
			@include media-breakpoint-up(lg) {
				flex-direction: row;
			}
		}
	}
	&__caption-block {
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(xl) {
			width: 25%;
		}
		@include media-breakpoint-up(lg) {
			width: 35%;
		}
		@include media-breakpoint-up(lg) {
			&::before {
				content: "";
				position: absolute;
				@include media-breakpoint-up(xxl) {
				}
				@include media-breakpoint-up(xl) {
					width: calc(100% + 120px);
					height: calc(100% + 140px);
				}
				width: calc(100% + 60px);
				height: calc(100% + 70px);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #f2f2f2;
				z-index: -1;
			}
		}
		@include media-breakpoint-down(lg){
			transform: none !important;
		}
	}
	&__caption-title {
		@include media-breakpoint-up(xxl) {
			font-size: 48px;
		}
		@include media-breakpoint-up(sm) {
			font-size: rem(36);
			margin-bottom: rem(32);
		}
		font-size: 30px;
		margin-bottom: 24px;
		font-weight: 600;
		line-height: 120%;
	}
	&__caption-text {
		font-weight: 300;
		@include media-breakpoint-up(sm) {
			font-size: 18px;
		}
		font-size: 14px;
	}
	&__caption-pic {
		@include media-breakpoint-up(xl) {
			max-width: 75%;
			width: 75%;
		}
		@include media-breakpoint-up(lg) {
			max-width: 65%;
			width: 65%;
			margin-bottom: 0;
		}
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(64);
		}
		margin-bottom: rem(32);
		img {
			max-width: 100%;
			width: 100%;
		}
		position: relative;
	}
	&__caption-pic-bg {
		position: absolute;
		top: -1%;
		background-color: #fff;
		height: 102%;
		left: 102%;
		position: absolute;
		top: -1%;
		width: 102%;
		z-index: 1;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
} // end.sProject

.sProjectBuild {
	.sProject__info-wrap {
		@include media-breakpoint-up(xxl) {
			max-width: 50%;
		}
		@include media-breakpoint-up(lg) {
			max-width: 65%;
		}
	}
}
