extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sForm/_sForm.pug
include ../blocks/sHouses/_sHouses.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'gray-bg' 
	- let  bg= null

block title
	- let title= 'Дома'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +header()
	//- 	+top-nav
	+sHouses
	+sForm()
	+footer()
      



