extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sForm/_sForm.pug
include ../blocks/sPlace/_sPlace.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let title= 'Расположение'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav
	+sPlace
	+sForm()
	+footer()
      



