extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sForm/_sForm.pug
include ../blocks/sPlace/_sPlace.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let title= 'Расположение'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav
	+sPlace
	+sMap
	+sForm()
	+footer()
	script.
		if (document.querySelector('.sMap')) {
		ymaps.ready(function () {
		var myMap = new ymaps.Map('map-place', {
		center: [56.086711, 37.541952],
		zoom: 11,
		controls: []
		}, {
		searchControlProvider: 'yandex#search'
		}),
		myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
		}, {
		// Опции.
		// Необходимо указать данный тип макета.
		iconLayout: 'default#image',
		// Своё изображение иконки метки.
		iconImageHref: 'img/svg/place-map-nordic.svg',
		// Размеры метки.
		iconImageSize: [212, 78],
		// Смещение левого верхнего угла иконки относительно
		// её "ножки" (точки привязки).
		iconImageOffset: [-200, -80]
		}),
		myPlacemark2 = new ymaps.Placemark([56.129043, 37.540323], {
		}, {
		// Опции.
		// Необходимо указать данный тип макета.
		iconLayout: 'default#image',
		// Своё изображение иконки метки.
		iconImageHref: 'img/svg/place-map-iksha.svg',
		// Размеры метки.
		iconImageSize: [211, 48],
		// Смещение левого верхнего угла иконки относительно
		// её "ножки" (точки привязки).
		iconImageOffset: [-20, -40],
		}),
		myPlacemark3 = new ymaps.Placemark([56.096516, 37.628376], {
		}, {
		// Опции.
		// Необходимо указать данный тип макета.
		iconLayout: 'default#image',
		// Своё изображение иконки метки.
		iconImageHref: 'img/svg/place-map-pestovo.svg',
		// Размеры метки.
		iconImageSize: [297, 48],
		// Смещение левого верхнего угла иконки относительно
		// её "ножки" (точки привязки).
		iconImageOffset: [-40, -43],
		}),
		myPlacemark4 = new ymaps.Placemark([56.085216, 37.635986], {
		}, {
		// Опции.
		// Необходимо указать данный тип макета.
		iconLayout: 'default#image',
		// Своё изображение иконки метки.
		iconImageHref: 'img/svg/place-map-lomonosov.svg',
		// Размеры метки.
		iconImageSize: [255, 48],
		// Смещение левого верхнего угла иконки относительно
		// её "ножки" (точки привязки).
		iconImageOffset: [-20, 0],
		}),
		myPlacemark5 = new ymaps.Placemark([56.055794, 37.531309], {
		}, {
		// Опции.
		// Необходимо указать данный тип макета.
		iconLayout: 'default#image',
		// Своё изображение иконки метки.
		iconImageHref: 'img/svg/place-map-kashtan.svg',
		// Размеры метки.
		iconImageSize: [260, 48],
		// Смещение левого верхнего угла иконки относительно
		// её "ножки" (точки привязки).
		iconImageOffset: [-20, 0],
		});
		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
		//... отключаем перетаскивание карты
		myMap.zoom = 11;
		}
		myMap.geoObjects
		.add(myPlacemark)
		.add(myPlacemark2)
		.add(myPlacemark3)
		.add(myPlacemark4)
		.add(myPlacemark5);
		// myMap.behaviors.disable('drag');
		});
		}



