extends ../layout/main-plan.pug

include ../blocks/header/_header.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sPlan/_sPlan.pug 


block variables
	- let  mainPage= `plan-page`
	- let  bg= null

block title
	- let title= 'Генплан'
	title= title
block pagecontent
	+sPlan



