mixin sIndexSlider(data)
	// start sIndexSlider
	+b.sIndexSlider.section#sIndexSlider&attributes(attributes)
		+e.pic-slider--js.swiper
			.swiper-wrapper
				mixin slide()
					+e.pic-slider-item.swiper-slide
						+e.pic-slider-title Современная архитектура
						+e.pic-slider-bg
							picture(style='transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;')
								img(data-src='img/@2x/index-slide-1.jpg' alt='' class="swiper-lazy")
						+e.pic-slider-caption Архитектура поселка выдержана в стиле современного минимализма. Все дома выходят окнами в лес или в парк. При строительстве и отделке домов используются только качественные и экологически чистые материалы.
				+slide
				+slide
				+slide
			+arrow
			.swiper-pagination
		+e.caption-slider-block
			+e.caption-slider--js.swiper
				.swiper-wrapper
					+e.caption-slider-item.swiper-slide
						+e.caption-slider-title Современная архитектура
						+e.caption-slider-text.wow(data-animate="animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s") Архитектура поселка выдержана в стиле современного минимализма. Все дома выходят окнами в лес или в парк. При строительстве и отделке домов используются только качественные и экологически чистые материалы.
					+e.caption-slider-item.swiper-slide
						+e.caption-slider-title Современная архитектура
						+e.caption-slider-text.wow(data-animate="animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s") Архитектура поселка выдержана в стиле современного минимализма. Все дома выходят окнами в лес или в парк. При строительстве и отделке домов используются только качественные и экологически чистые материалы.
					+e.caption-slider-item.swiper-slide
						+e.caption-slider-title Современная архитектура
						+e.caption-slider-text.wow(data-animate="animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s") Архитектура поселка выдержана в стиле современного минимализма. Все дома выходят окнами в лес или в парк. При строительстве и отделке домов используются только качественные и экологически чистые материалы.
				+e.caption-slider-arrows.wow(data-animate="animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s")
					+arrow
				.swiper-pagination
	// end sIndexSlider

mixin sProjectSlider(data)
	// start sIndexSlider
	+b.sIndexSlider--project.section#sIndexSlider&attributes(attributes)
		+e.pic-slider--js.swiper
			.swiper-wrapper
				mixin slide()
					+e.pic-slider-item.swiper-slide
						+e.pic-slider-title Интерьеры домов
						+e.pic-slider-bg
							picture(style='transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;')
								img(data-src='img/@2x/project-slide-1.jpg' alt='' class="swiper-lazy")
						+e.pic-slider-caption Коттеджный поселок Nordic Park создан для людей, которые стремятся жить за городом, но при этом хотят сохранить тот уровень комфорта, к которому привыкли в мегаполисе.
				+slide
				+slide
				+slide
			+arrow
			.swiper-pagination
		+e.caption-slider-block
			+e.caption-slider--js.swiper
				.swiper-wrapper
					+e.caption-slider-item.swiper-slide
						+e.caption-slider-title Интерьеры домов
						+e.caption-slider-text.wow(data-animate="animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s") Коттеджный поселок Nordic Park создан для людей, которые стремятся жить за городом, но при этом хотят сохранить тот уровень комфорта, к которому привыкли в мегаполисе.
					+e.caption-slider-item.swiper-slide
						+e.caption-slider-title Современная архитектура
						+e.caption-slider-text.wow(data-animate="animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s") Коттеджный поселок Nordic Park создан для людей, которые стремятся жить за городом, но при этом хотят сохранить тот уровень комфорта, к которому привыкли в мегаполисе.
					+e.caption-slider-item.swiper-slide
						+e.caption-slider-title Современная архитектура
						+e.caption-slider-text.wow(data-animate="animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s") Коттеджный поселок Nordic Park создан для людей, которые стремятся жить за городом, но при этом хотят сохранить тот уровень комфорта, к которому привыкли в мегаполисе.
				+e.caption-slider-arrows.wow(data-animate="animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s")
					+arrow
				.swiper-pagination
	// end sIndexSlider

	
mixin sProjectSlider1(data)
	// start sIndexSlider
	+b.sIndexSlider--without-text.section#sIndexSlider&attributes(attributes)
		+e.pic-slider--js.swiper
			.swiper-wrapper
				mixin slide()
					+e.pic-slider-item.swiper-slide
						+e.pic-slider-title Интерьеры домов
						+e.pic-slider-bg
							picture(style='transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;')
								img(data-src='img/@2x/project-slide-1.jpg' alt='' class="swiper-lazy")
						+e.pic-slider-caption Коттеджный поселок Nordic Park создан для людей, которые стремятся жить за городом, но при этом хотят сохранить тот уровень комфорта, к которому привыкли в мегаполисе.
				+slide
				+slide
				+slide
			+arrow
			.swiper-pagination
	// end sIndexSlider

