// start .sIndexSlider
.sIndexSlider {
	--sPT: #{rem(75)};
	--sPB: #{rem(75)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: relative;
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
		--sPT: 0;
		--sPB: #{rem(100)};
		background-color: #f2f2f2;
		padding-left: 0;
		padding-right: 0;
	}
	@include media-breakpoint-up(sm) {
		padding-left: 32px;
		padding-right: 32px;
	}
	padding-left: 10px;
	padding-right: 10px;
	background-color: $white;
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
	&__caption-slider-block {
		@include media-breakpoint-down(lg) {
			display: none;
		}
		position: absolute;
		bottom: 0;
		left: rem(70);
		width: rem(420);
		padding-top: rem(70);
		padding-bottom: rem(74);
		padding-left: rem(60);
		padding-right: rem(60);
		@include media-breakpoint-up(xxl) {
			left: rem(140);
			padding-top: rem(140);
			padding-bottom: rem(148);
			padding-left: rem(120);
			padding-right: rem(120);
			width: rem(566);
		}
		background-color: $white;
		z-index: 3;
	}
	&__caption-slider {
		position: relative;
		.swiper-pagination {
			position: absolute;
			width: auto;
			bottom: 0;
			right: 0;

		}
	}
	&__caption-slider-arrows {
		display: flex;
		align-items: center;
		.swiper-button-hand-prev {
			margin-right: rem(48);
		}
		.swiper-button-hand {
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			width: rem(32);
			height: rem(32);
			border: none;
			background-color: transparent;
			transition-duration: 0.3s;
			transform: scale(1);
			&:hover {
				transform: scale(1.25);
			}
			.icon {
				width: 32px;
				height: 32px;
				stroke: $body-color;
				color: transparent;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	&__caption-slider-title {
		font-weight: 600;
		font-size: rem(32);
		line-height: 120%;
		margin-bottom: rem(32);
	}
	&__caption-slider-text {
		margin-bottom: rem(56);
		line-height: 180%;
		font-size: $large;
	}
	&__pic-slider {
		.swiper-button-hand {
			// @include media-breakpoint-up(lg) {
			// 	display: none;
			// }
			transition-duration: 0.4s;
			@include media-breakpoint-up(lg) {
				opacity: 0;
				&:hover {
					opacity: 1;
				}
			}
			border: none;
			@include media-breakpoint-down(sm){
				top: -50px;
			}
			.icon {
				@include media-breakpoint-up(sm){
					width: 32px;
				height: 32px;
				}
				width: 16px;
				height: 16px;
				stroke: $body-color;
				color: transparent;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		@include media-breakpoint-up(sm){
			--swiperArrowPosition: 32px;
		--swiperArrowSize: #{rem(72)};
		}
		--swiperArrowPosition: 16px;
		--swiperArrowSize: #{rem(36)};

		.swiper-pagination {
			@include media-breakpoint-up(lg) {
				display: none;
			}
			z-index: 2;
			background-color: $white;
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
		}
	}
	&__pic-slider-bg {
		@include media-breakpoint-up(lg){
			@include block(1923, 900);
		}
		@include block(704, 448);
		picture {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__pic-slider-title {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		max-width: 50%;
		font-weight: 600;
		line-height: 120%;
		@include media-breakpoint-up(md) {
			font-size: rem(48);
			margin-bottom: rem(48);
		}
		font-size: rem(30);
		margin-bottom: rem(30);
	}
	&__pic-slider-item {
		position: relative;
		picture {
			img {
				width: 100%;
			}
		}
	}
	&__pic-slider-caption {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		line-height: 180%;
		@include media-breakpoint-up(md) {
			font-size: $large;
		}
		@include media-breakpoint-up(md) {
			margin-top: rem(48);
		}
		margin-top: rem(30);
		font-size: rem(16);
	}

	&__pic-slider-item * {
	}
} // end.sIndexSlider

.sIndexSlider__pic-slider-item {
	// z-index: 2;
	overflow: hidden;
}
.sIndexSlider__pic-slider-item * {
	// z-index: 2 !important;
}
