.top-nav {
	background-color: transparent;
	position: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	z-index: 999;
	transition-duration: 0.4s;

	@include media-breakpoint-up(lg) {
		padding-top: rem(30);
		padding-bottom: rem(30);
		padding-left: rem(48);
		padding-right: rem(48);
	}
	padding-top: rem(23);
	padding-bottom: rem(23);
	padding-left: rem(32);
	padding-right: rem(32);
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-down(lg) {
		justify-content: space-between;
	}
	&.fixed {
		background-color: rgba(10, 10, 10, 0.48);
		@include media-breakpoint-up(lg) {
			padding-top: rem(10);
			padding-bottom: rem(10); 
		}
		padding-top: rem(10);
		padding-bottom: rem(10);
	}
	&.active {
		background-color: $primary;
	}
	&__logo {
		@include media-breakpoint-up(lg) {
			width: rem(152);
			height: rem(56);
		}
		@include media-breakpoint-up(sm) {
			width: rem(190);
			height: rem(70);
		}
		width: rem(133);
		height: rem(49);
		animation-delay: 0.5s;
		--animate-duration: 1s;
		position: relative;
		z-index: 101;

		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		margin-right: rem(60);
	}
	&__menu-item-text-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(lg) {
			padding-top: rem(12);
			padding-bottom: rem(12);
			overflow: hidden;
		}
	}
	&__menu-item-text {
		display: block;
	}
	&__menu-item {
		@include media-breakpoint-down(lg) {
			display: none;
		}
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.08em;
		display: inline-block;
		@include media-breakpoint-up(xxl) {
			font-size: rem(13);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(12);
			padding-left: rem(36);
			padding-right: rem(36);
		}
		font-size: 11px;
		line-height: calc(16 / 12);
		color: $white;
		padding-top: rem(20);
		padding-bottom: rem(20);
		padding-left: rem(20);
		padding-right: rem(20);
		border-radius: 30px;
		&:nth-child(1) {
			animation-delay: 0.7s;
			--animate-duration: 1s;
		}
		&:nth-child(2) {
			animation-delay: 1s;
			--animate-duration: 1s;
		}
		&:nth-child(3) {
			animation-delay: 1.3s;
			--animate-duration: 1s;
		}
		&:nth-child(4) {
			animation-delay: 1.6s;
			--animate-duration: 1s;
		}
		@include media-breakpoint-up(lg) {
			margin-right: rem(12);
			padding-top: rem(8);
			padding-bottom: rem(8);
			&:hover {
				.top-nav__menu-item-text {
					animation-name: roundedText;
					// animation-iteration-count: infinite;
					animation-duration: 1.2s;
				}
			}
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				color: $body-color;
				background-color: $white;
			}
		}
		&--special {
			@include media-breakpoint-up(lg) {
				color: $body-color;
				background-color: $white;
			}
		}
	}
	&__menu {
		display: flex;
		@include media-breakpoint-up(lg) {
			align-items: center;
			flex-direction: row;
		}
		flex-direction: column;
	}
	&__wrap {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 101;
		@include media-breakpoint-up(lg) {
			flex-grow: 1;
		}
	}
	&__tel {
		@include media-breakpoint-up(lg) {
			margin-left: auto;
			margin-right: 0;
		}
		margin-right: rem(24);
		@include media-breakpoint-up(xxl) {
			font-size: rem(16);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(14);
			padding-left: rem(24);
			padding-right: rem(24);
		}
		animation-delay: 2.2s;
		--animate-duration: 1s;
		font-size: rem(12);
		font-weight: 700;
		color: $body-color !important;
		padding-top: rem(19);
		padding-bottom: rem(19);
		@include media-breakpoint-up(lg) {
			padding-top: rem(8);
			padding-bottom: rem(8);
			&:hover {
				.top-nav__tel-text {
					animation-name: roundedText;
					// animation-iteration-count: infinite;
					animation-duration: 1.2s;
				}
			}
		}
		padding-left: rem(16);
		padding-right: rem(16);
		letter-spacing: 0.04em;
		line-height: 100%;
		background-color: $white;
		border-radius: 30px;
		display: inline-block;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	&__tel-text-wrap {
		@include media-breakpoint-up(lg) {
			padding-top: rem(11);
			padding-bottom: rem(11);
			overflow: hidden;
		}
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.gray-bg {
	.top-nav__menu-item {
		color: $body-color;
	}
}
