.top-nav {
	background-color: rgba(10, 10, 10, 0.48);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	z-index: 100;
	transition-duration: 0.4s;
	@include media-breakpoint-up(lg) {
		padding-top: rem(30);
		padding-bottom: rem(30);
		padding-left: rem(48);
		padding-right: rem(48);
	}
	padding-top: rem(23);
	padding-bottom: rem(23);
	padding-left: rem(32);
	padding-right: rem(32);
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-down(lg) {
		justify-content: space-between;
	}
	&.fixed {
	}
	&.active {
		background-color: $primary;
	}
	&__logo {
		@include media-breakpoint-up(lg) {
			width: rem(152);
			height: rem(56);
		}
		position: relative;
		z-index: 101;
		width: rem(190);
		height: rem(70);
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		margin-right: rem(60);
	}
	&__menu-item-text-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(lg) {
			padding-top: rem(18);
			padding-bottom: rem(18);
			overflow: hidden;
		}
	}
	&__menu-item-text {
		display: block;
	}
	&__menu-item {
		@include media-breakpoint-down(lg) {
			display: none;
		}
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.08em;
		display: inline-block;
		font-size: rem(12);
		line-height: calc(16 / 12);
		color: $white;
		padding-top: rem(20);
		padding-bottom: rem(20);
		padding-left: rem(36);
		padding-right: rem(36);
		border-radius: 30px;
		@include media-breakpoint-up(lg) {
			margin-right: rem(12);
			padding-top: rem(2);
			padding-bottom: rem(2);
			&:hover {
				.top-nav__menu-item-text {
					animation-name: roundedText;
					animation-iteration-count: infinite;
					animation-duration: 1.2s;
				}
			}
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				color: $body-color;
				background-color: $white;
			}
		}
		&--special {
			@include media-breakpoint-up(lg) {
				color: $body-color;
				background-color: $white;
			}
		}
	}
	&__menu {
		display: flex;
		@include media-breakpoint-up(lg) {
			align-items: center;
			flex-direction: row;
		}
		flex-direction: column;
	}
	&__wrap {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 101;
		@include media-breakpoint-up(lg) {
			flex-grow: 1;
		}
	}
	&__tel {
		@include media-breakpoint-up(lg) {
			margin-left: auto;
			margin-right: 0;
		}
		margin-right: rem(24);
		@include media-breakpoint-up(md) {
			font-size: rem(14);
		}
		font-size: rem(13);
		font-weight: 700;
		color: $body-color !important;
		padding-top: rem(19);
		padding-bottom: rem(19);
		@include media-breakpoint-up(lg) {
			padding-top: rem(2);
			padding-bottom: rem(2);
			&:hover {
				.top-nav__tel-text {
					animation-name: roundedText;
					animation-iteration-count: infinite;
					animation-duration: 1.2s;
				}
			}
		}
		padding-left: rem(24);
		padding-right: rem(24);
		letter-spacing: 0.04em;
		line-height: 100%;
		background-color: $white;
		border-radius: 30px;
		display: inline-block;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	&__tel-text-wrap {
		@include media-breakpoint-up(lg) {
			padding-top: rem(17);
			padding-bottom: rem(17);
			overflow: hidden;
		}
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
