mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.logo.animate__animated.animate__fadeIn(href="/")
			//- img(src="img/svg/logo.svg", alt="")
			include ../../../../public/img/svg/logo.svg
		//- +e.menu.wow.animate__bounceInLeft(data-wow-duration="1s" data-wow-delay="0.2s")
		+e.menu
			+e.menu-item--special.animate__animated.animate__fadeInLeft(href="#")
				+e.menu-item-text-wrap
					+e.SPAN.menu-item-text Выбрать дом
			+e.menu-item.animate__animated.animate__fadeInLeft(href="#")
				+e.menu-item-text-wrap
					+e.SPAN.menu-item-text Расположение
			+e.menu-item.animate__animated.animate__fadeInLeft(href="#")
				+e.menu-item-text-wrap
					+e.SPAN.menu-item-text Генплан
			+e.menu-item.animate__animated.animate__fadeInLeft(href="#")
				+e.menu-item-text-wrap
					+e.SPAN.menu-item-text Контакты
					
			+e.menu-item.animate__animated.animate__fadeInLeft(href="#modal" data-fancybox="modal")
				+e.menu-item-text-wrap
					+e.SPAN.menu-item-text Модалка

		+b.menu-mobile--js
			+e.wrap
				+e.item(href="#") Дома
				+e.item(href="#") Генплан
				+e.item(href="#") Расположение
				+e.item(href="#") Контакты
		+e.wrap
			+e.tel.animate__animated.animate__fadeIn(href="tel:+79851405500") 
				+e.tel-text-wrap
					+e.tel-text +7 985 140-55-00
			+menu-toggle
	// end top-nav