// start .sPlace
.sPlace {
	--sPT: #{rem(206)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	background-color: $primary;
	color: $white;
	.breadcrumb {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(64);
		}
		margin-bottom: rem(32);
	}
	h1 {
		@include media-breakpoint-up(lg) {
			font-size: rem(80);
			margin-bottom: rem(92);
		}
		@include media-breakpoint-up(sm) {
			font-size: rem(64);
			margin-bottom: rem(64);
		}
		font-size: rem(46);
		margin-bottom: rem(46);
	}
	&__caption{
		@include media-breakpoint-up(lg){
			max-width: rem(326);
			margin-bottom: rem(80);
		}
		@include media-breakpoint-up(sm){
			margin-bottom: rem(100);
		}
		margin-bottom: rem(60);
	}
	&__down-link {
		@include media-breakpoint-down(lg) {
			display: none;
		}
		margin-bottom: rem(75);
		display: inline-block;
		.icon {
			width: rem(32);
			height: rem(32);
			stroke: $white;
			color: transparent;
			animation-name: downLinkAnimate;
			animation-iteration-count: infinite;
			animation-duration: 2s;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sPlace
